@model Produto
<!-- Import do CSS -->
<link rel="stylesheet" href="~/css/produto.css">
<!-- Import do diretório cdnjs utilizado para criar um owl carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />


<body>
    <!-- Criando o corpo da apresentação do produto -->
    <div class="containerInformProduto">
        <!-- Moldura utilizada para apresentação dos produtos -->
        <div class="imagemProduto">
            <img class="moldura" id="moldura" src=@TempData["ImagemProduto"] alt=""> <!-- Pega a imagem do produto associada ao ID dele -->
        </div>

        <div class="detalhesProduto">
            <p id="titulo">@Model.nome</p> <!-- Define o nome como o valor que vem da classe produto -->
            <p id="descricao">@Model.desc</p> <!-- Define a descrição com o valor que vem da classe -->


            <!-- Se possuir algum valor para tamanho, ele adiciona o box de seleção de tamanhos -->
            @if (Model.tamanho != 0) 
            {
                <p id="tamanho">Tamanho Desejado:</p>
                <div class="tamanhoAnel">
                    <!-- Seleção de tamanho do anél -->
                    <div class="selecaoTamanho">

                        <div class="select-box">

                            <div class="containerOpcoes">
                                <!-- Adiciona as opções de tamanho de acordo com os tamanhos disponíveis do produto no banco de dados -->
                                @foreach (int tamanho in Model.pegarTamanhoAneis(Model.pegarID(Model.nome))) 
                                {
                                    if (tamanho != 0)
                                    {
                                        <div class="opcao">
                                            <input type="radio" class="radio" id=@tamanho name="categoria">
                                            <label for=@tamanho>@tamanho</label>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="selecionado">
                                Tamanho Selecionado
                            </div>

                        </div>
                    </div>
                    <!-- Fim da área de seleção de tamanho do anél -->
                </div>
            }
            else
            {

            }

            <p id="estoque">Quantidade Disponível em Estoque: @Model.qntd</p>
            <p id="qtde">Quantidade Desejada:</p>
            <div class="preco">
                <p id="preco">R$ @Model.preco</p> <!--Define o preço de acordo com os valores da classe produto-->
            </div>

            <div class="buttons">
                <div class="buttonCarrinho">
                    <button class="btn" id="carrinho">Adicionar ao Carrinho</button>
                </div>
                <!-- Se o viewbag retornar true, o que significa que possui Modelo 3d, ele adiciona o botão de Try ON -->
                @if (ViewBag.modelo3D == false) 
                {

                }
                else
                {
                    <div class="buttonTryOn">
                        <button class="btn" id="try-on">Virtual Try-On</button>
                    </div>
                }
            </div>

        </div>

    </div>

    <div class="txtPdtSim">
        <p>Produtos Similares/Indicados</p>
    </div>

    <br>

    <!-- Carousel com as indicações dos produtos similares -->
    <div class="produtosSimilares">
        <div class="owl-carousel owl-theme">

                <!-- Função para sortear os produtos similares, e adicionar suas imagens no carrosel de recomendados -->
            @if (Model.similaresid.Length != 0) //Isto sempre retorna true, é usado apenas para iniciar a função Razor
            {
                int i = 0;
                //Para cada img, ele adiciona um item no carrosel
                foreach (String img in Model.produtosSimilares(Model.tamanho == 0 ? "Oculos" : "Anel",Model.pegarID(Model.nome)))
                {
                    <div class="item">
                            <a href=@Url.Action("Produto","Home",values: new{id=@Model.similaresid[i]})>
                                <!--Adiciona o redirecionamento ao produto correto associado a imagem inserida-->
                            <img src=@img alt="">
                            <div class="content">
                                <ion-icon id="icone" name="eye-outline" style="color: #ffff;"><a href="#"></a></ion-icon>
                            </div>
                        </a>
                    </div>
                    i++;
                }
            }


        </div>
    </div>
    <!-- Fim do carousel com as indicações dos produtos similares -->
    <!-- Import do diretório cdnjs utilizado para criar um owl carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Linkando o JavaScript -->
    <script src="~/js/selecaoTamanho.js"></script>
    <script src="~/js/carouselProdutos.js"></script>
</body>

</html>